@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus, &:visited {
        text-decoration: none;
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0px;
    background: none;
    line-height: 1.3em;
}
